.buy-container{
    background-color: aliceblue;
}


.buy-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem 0;
    
}

.search-bar{
    
    background: none;
    max-width: 40rem;
    width: 100%;
    margin:0 2rem;
}