*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
}

/* Form css */
.commodity-form {
  margin-left: 2vh;
  margin-right: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
    

.form-group{
    width: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.form-group label{
    width: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}




.buttons {
    display: flex;
    justify-content: fex-start;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.button{
    margin: 10px;
}
.input{
    width: 80px;
    align-self: center;
}


.card-container, .crop, .place, .price, .last{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0.2rem;
}
.card-container {
  flex-direction: column;
  margin:0.2rem;
  border-left: 8px solid #18bb5c;

  background-color: #95959513;
  border-radius: 5px;
  width:18rem;
  max-width:18rem;
  height:10rem;
}

.crop  {
  padding: 0 0.5rem;
  align-items: center;
}

.crop-name{
  margin: 0;
  margin-right: 0.3rem;
  color: #d29300;
  font-size: 1.8vh;
  font-weight: 500;
  text-transform: uppercase;

}
   
.crop-variety {
  font-size: 0.8rem;
  font-weight: 200;
  color: #3b8997;
}

.place{
  margin: 0;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #848f91;
}

.market,.district , .state{
  margin: 0 0.2rem;
}

.min-price , .max-price , .modal-price {
  margin: 0;
  color:#54df8e;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 0.5rem;
}

.max-price{
  color:rgb(233, 80, 80)
}
.modal-price{
  color: #1ebfdb;
}

.date{
  margin: 0;
  color:green;
}