*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
}

/* Form css */
.commodity-form {
  margin-left: 2vh;
  margin-right: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
    

.form-group{
  margin: 1rem 1rem;
  width: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.form-group label{
    width: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}




.buttons {
    display: flex;
    justify-content: fex-start;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.button{
    margin: 10px;
}
.input{
    width: 80px;
    align-self: center;
}

