.info-container{
    text-align: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.671);
    height: 100%;
}
.info-container-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.info-container-title2{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #143d1a;
}


.card-container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    padding: 1rem;
}


.card-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.card{
    max-width: 20rem;
    /* max-height: 25rem; */
    border: 3px solid #28650c;
    border-radius: 10px;
    margin: 1rem;
    height: 26rem;
    font-size: 1rem;  
}

.card-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}



.faq-contactus-wrapper{

  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 auto; */
  /* width: 100%; */
  /* padding: 0 10px; */
  /* box-sizing: border-box; */
  /* justify-content: space-around; */
  background: rgb(255, 255, 255);
  /* height: 100%; */
  /* padding: 1rem; */
}

.faq-contactus-header{
  text-align: center;
  padding:5rem;
}


.faq-contactus-container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.accordion-container{

  display: flex;
  justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;

}

.faq-accordion {
  padding: 1rem;
  display: flex;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  justify-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1rem;
  width: -webkit-fill-available;
}

.faq-accordion-item{
  margin: 0.2rem 0rem!important;
  padding: 0rem;
  border: 1px solid #28650c;
  border-radius: 10px;
  box-sizing: border-box;
  width: 45rem;
}

/* Contact us form */

.contactus-container{
  display: flex;
  justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    /* background: rgba(204, 204, 204, 0.671); */

}

.contactus-form {
  max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    /* margin: 1rem; */
    margin-top: 3rem;
    padding: 1rem;
    width: -webkit-fill-available;
    border-radius: 19px;
    box-shadow: 0px 9px 15px 3px rgba(0, 0, 0, 0.1);
    
}








/* Foooter */
.footer {
    background-color:#28650c;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .links a {
    color: #59d3fd;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .social a {
    margin-right: 10px;
  }
  
  .social img {
    width: 30px;
    height: 30px;
    border-radius: 10%;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {

    .faq-contactus-header{
      padding:2rem;
    }
    .footer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .links {
      margin-top: 10px;
    }
  
    .social {
      margin-top: 10px;
    }

    .faq-accordion {
      font-size: 13px;
  }

  .card{
    border: 2px solid #28650c;
    margin: 0.5rem;
    font-size: 13px;  
    height:-webkit-fill-available
  }

  .footer {
    background-color: #28650c;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    display: none;
  }


.faq-contactus-container{
  width: -webkit-fill-available;
}
  
  .faq-accordion-item{
    width: -webkit-fill-available;
  }

  .contactus-form{
    margin: 1rem;
  }

  .contactus-container{
    width: -webkit-fill-available;
  }




}

  
  @media (max-width: 480px) {
    .logo img {
      width: 30px;
      height: 30px;
    }
  
    .links a {
      margin-right: 5px;
    }
  
    .social img {
      width: 25px;
      height: 25px;
    }
    
  }
  